@if (showLoading()) {
<div class="chart-skeleton">
  <div class="skeleton-bars">
    @for (bar of skeletonBarsValue(); track $index) {
    <div class="skeleton-bar"></div>
    }
  </div>
</div>
} @if (!showLoading()) {
<div class="chart-container">
  <ngx-charts-bar-vertical
    [results]="chartData()"
    [view]="view()"
    [customColors]="customColors()"
    [xAxis]="true"
    [animations]="true"
    [showDataLabel]="false"
    [barPadding]="timeRange() === '14d' ? 17 : 8"
    [trimXAxisTicks]="false"
    [roundEdges]="false"
    [tooltipDisabled]="false"
  >
    <ng-template #tooltipTemplate let-model="model">
      {{ model.name | date: (timeRange() === '14d' ? 'M/d/yy' : 'M/d/yy, h:mm
      a') }}<br />
      {{ model.value }} events
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      {{ model[0].name | date: (timeRange() === '24h' ? 'M/d/yy' : 'M/d/yy, h:mm
      a') }}<br />
      {{ model[0].value }} events
    </ng-template>
  </ngx-charts-bar-vertical>
</div>
}
