<!-- Skeleton loader -->
<div *ngIf="showLoading" class="chart-skeleton">
  <div class="skeleton-bars">
    <div
      *ngFor="let bar of skeletonBars"
      class="skeleton-bar"
      [style.height.%]="bar.height"
    ></div>
  </div>
</div>

<!-- Chart container with custom tooltip -->
<div class="chart-container" *ngIf="!showLoading" style="position: relative">
  <!-- Actual chart with tooltips disabled and hover events -->
  <ngx-charts-bar-vertical
    [results]="chartData"
    [view]="view()"
    [customColors]="customColors"
    [xAxis]="true"
    [animations]="true"
    [showDataLabel]="false"
    [barPadding]="timeRange() === '14d' ? 17 : 8"
    [trimXAxisTicks]="false"
    [roundEdges]="false"
    [tooltipDisabled]="true"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    [noBarWhenZero]="false"
  >
    >
  </ngx-charts-bar-vertical>
  <!-- 
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)" -->

  <!-- Custom tooltip overlay -->
  <!-- <div *ngIf="hoveredBar" class="custom-chart-tooltip">
    <div class="tooltip-content">
      <div class="tooltip-header">Hour: 12 pm</div>
      <div class="tooltip-value">Events: 25 events</div>
    </div>
  </div></div
> -->

  <!-- Custom tooltip overlay -->
  <!-- <div *ngIf="hoveredBar" class="custom-chart-tooltip">
  <div class="tooltip-content">
    <div class="tooltip-header">{{ formatHour(getTooltipHour()) }}</div>
    <div class="tooltip-value">{{ getTooltipEventCount() }} events</div>
  </div>
</div> -->

  <div *ngIf="hoveredBar" class="custom-chart-tooltip">
    <div class="tooltip-content">
      <div class="tooltip-header"
        >{{ formatEventDateTime(getActualTimestamp()) }}</div
      >
      <div class="tooltip-value">{{ getTooltipEventCount() }} events</div>
    </div>
  </div>
</div>
