@use "variables" as vars;

table {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.mat-column-name {
  width: 500px;

  @media screen and (max-width: vars.$large - 1) {
    width: 300px;
  }
  @media screen and (max-width: vars.$medium - 1) {
    width: 200px;
  }
  @media screen and (max-width: vars.$tablet - 1) {
    width: 160px;
  }
}

.name-and-url-container {
  width: 100%;

  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: fit-content;
  }

  .monitor-link {
    text-decoration: underline;
  }

  div {
    width: inherit;

    .caption-text {
      color: inherit;
    }
  }
}

.mat-column-checkChart {
  width: 350px;
}

.chart-container {
  @media screen and (max-width: vars.$small - 1) {
    display: none;
  }

  .monitor-chart {
    margin-left: 10px;
  }
}

.mat-column-status {
  width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;
  @media screen and (max-width: vars.$small - 1) {
    padding-left: 40px;
  }
}

.status-color {
  &--true {
    border-left: 3px solid  var(--success-color);
  }

  &--false {
    border-left: 3px solid  var(--mat-sys-error);
  }

  &-- {
    border-left: 3px solid  var(--mat-sys-surface-variant);
  }
}
