@if (actions().length > 0) { @if (shouldShowIndividualButtons()) {
<div class="individual-buttons-container">
  @for (action of actions(); track $index) { @let buttonStyle =
  action.buttonStyle ?? defaultButtonStyle(); @switch (buttonStyle) { @case
  ('flat') {
  <button
    mat-flat-button
    [color]="buttonColor()"
    [disabled]="action.disabled"
    (click)="executeAction(action)"
    class="individual-action-button"
  >
    @if (action.icon) {
    <mat-icon>{{ action.icon }}</mat-icon>
    } {{ action.label }}
  </button>
  } @case ('stroked') {
  <button
    mat-stroked-button
    [color]="buttonColor()"
    [disabled]="action.disabled"
    (click)="executeAction(action)"
    class="individual-action-button"
  >
    @if (action.icon) {
    <mat-icon>{{ action.icon }}</mat-icon>
    } {{ action.label }}
  </button>
  } @case ('icon') {
  <button
    mat-icon-button
    [color]="buttonColor()"
    [disabled]="action.disabled"
    (click)="executeAction(action)"
    class="individual-action-button"
  >
    @if (action.icon) {
    <mat-icon>{{ action.icon }}</mat-icon>
    }
  </button>
  } } }
</div>
} @else { @if (shouldShowSplitButton()) {
<div class="split-button-container">
  @if (primaryAction(); as primary) {
  <button
    mat-flat-button
    [color]="buttonColor()"
    [disabled]="primary.disabled"
    (click)="executeAction(primary)"
    class="primary-action-button"
  >
    @if (primary.icon) {
    <mat-icon>{{ primary.icon }}</mat-icon>
    } {{ primary.label }}
  </button>
  } @if (secondaryActions().length > 0) {
  <button
    mat-flat-button
    [color]="buttonColor()"
    [matMenuTriggerFor]="menu"
    class="menu-trigger-button"
    aria-label="More actions"
  >
    <mat-icon class="trigger-button-icon">arrow_drop_down</mat-icon>
  </button>
  }

  <mat-menu #menu="matMenu" class="split-button-menu">
    @for (action of secondaryActions(); track $index) {
    <button
      mat-menu-item
      [disabled]="action.disabled"
      (click)="executeAction(action)"
      class="right-aligned-item"
    >
      @if (action.icon) {
      <mat-icon>{{ action.icon }}</mat-icon>
      }
      <span>{{ action.label }}</span>
    </button>
    }
  </mat-menu>
</div>
} } }
