.todo-list-item {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16pt;
}

.icon-align {
  display: flex;
  align-items: center;
}

span {
  font-weight: bold;
}

.is-not-done {
  color: var(--mat-sys-error);
}

.is-done {
  color: var(--success-color);
}
