<section class="l-body">
  <gt-detail-header
    backLinkText="View monitor details"
    [title]="['Update Monitor', null]"
  >
    <gt-delete-icon
      label="Delete Monitor"
      i18n-confirmMessage
      confirmMessage="Are you sure you want delete this monitor? You will permanently lose all associated uptime data."
      (delete)="delete()"
    />
  </gt-detail-header>
  <ng-container *ngIf="monitor$ | async as monitor">
    <gt-monitor-form
      [monitorSettings]="monitor"
      [loading]="(loading$ | async) === true"
      [formError]="error$ | async"
      (formSubmitted)="submit($event)"
    ></gt-monitor-form>
  </ng-container>
</section>
