@use "@angular/material" as mat;
@use "variables" as vars;

.delete {
  margin-top: 20px;

  .remove-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: vars.$tablet - 1) {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      padding-right: 16px;
    }
  }
}
