h2 {
  margin: 32px 0 12px;
}

.cta-wrapper {
  margin: 16px 0;
  display: flex;
  gap: 16px;
  flex-direction: row;
}

#response-disclaimer {
  margin: -4px auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 560px;
  margin: 8px 0 16px;
}
