<mat-toolbar color="primary">
  <span>GlitchTip</span>
</mat-toolbar>

<div>
  <h2>
    Simple, open source error tracking
  </h2>
  <p>
    Sentry was our favorite open source error tracker, and no it's no longer
    open source. We believe that a quality open source product should pick up
    where they left off, so we created GlitchTip.
  </p>
  <p>
    GlitchTip is compatible with the Sentry API, so it can use their SDKs to
    receive error data from your application.
  </p>
</div>

https://blog.sentry.io/2019/11/06/relicensing-sentry
