<div class="hero-and-nav-container">
  <mat-toolbar color="transparent">
    <span class="logo-test">GlitchTip</span>
  </mat-toolbar>

  <div class="hero">
    <h2 class="mat-display-2">
      Simple, open source error&nbsp;tracking
    </h2>
    <div class="content">
      <p class="mat-body-1">
        Sentry is
        <a
          class="md-accent"
          href="https://blog.sentry.io/2019/11/06/relicensing-sentry"
        >
          no longer open source</a
        >. We want a quality open source product to pick up where it left off,
        so we're making&nbsp;GlitchTip.
      </p>
      <p class="mat-body-1">
        Subscribe to our newsletter to receive updates about our progress.
      </p>
    </div>
  </div>
</div>

<div>
  <h2 class="mat-display-2">
    Want to know more?
  </h2>

  <p class="mat-body-1">
    GlitchTip is compatible with the Sentry API, so it can use their SDKs to
    receive error data from your&nbsp;application.
  </p>
</div>
