@use "variables" as vars;

$iconWidth: 56px;

.performance-table-container {
  height: 700px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 4px;
  margin-bottom: 40px;
}

.table-actions-header-content {
  height: 100%;
  width: 100%;
  padding: 15px 24px;
  display: flex;
  justify-content: right;
}

table {
  width: 100%;

  &.fixedLayout {
    table-layout: fixed;
  }
}

.mat-column-name-and-project {
  padding-left: 24px;
}

.mat-column-avgDuration {
  padding-right: 24px;
}

.name-and-project {
  width: 500px;
  padding-top: 8px;
  padding-bottom: 8px;

  @media screen and (max-width: vars.$large - 1) {
    width: 300px;
  }
  @media screen and (max-width: vars.$medium - 1) {
    width: 200px;
  }
  @media screen and (max-width: vars.$tablet - 1) {
    width: 160px;
  }

  .group-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: fit-content;
  }

  div {
    width: inherit;

    .caption-text {
      color: inherit;
    }
  }
}

.avg-duration-cell {
  width: 140px;
}

.empty-states {
  padding: 1.5em 24px 0.5em;
}
