.section-header-text {
  margin-bottom: 0px;
}

.count-display {
  font-weight: 400;
  margin-left: 8px;
  padding-inline: 8px;
  border-radius: 4px;
  background-color: var(--mat-sys-surface-container-highest);
}
