<mat-menu
  #supportMenu="matMenu"
  xPosition="after"
  class="nav-menu support-menu-panel"
>
  <a
    mat-menu-item
    href="https://glitchtip.com/documentation"
    target="_blank"
    rel="noopener"
  >
    <mat-icon>developer_guide</mat-icon>
    <span i18n>Documentation</span>
  </a>

  <a
    mat-menu-item
    href="https://gitlab.com/glitchtip/glitchtip/-/issues"
    target="_blank"
    rel="noopener"
  >
    <mat-icon>code</mat-icon>
    <span i18n>Report a bug</span>
  </a>

  @if (paidForGlitchTip() === false && billingEnabled() === false) {
    <a
      mat-menu-item
      href="https://liberapay.com/GlitchTip/donate"
      target="_blank"
      rel="noopener"
    >
      <mat-icon>favorite</mat-icon>
      <span i18n>Sponsor on Liberapay</span>
    </a>
  }

  <!-- Support flow: 
   1. if a user has paid, but is self hosting, then they go to the support page 
   2. if a user has paid and isn't self hosting, then they get chatwoot 
   3. else, they get taken to the buy a plan page. -->
  @if (paidForGlitchTip() === true && billingEnabled() === false) {
    <mat-divider />
    <a
      mat-menu-item
      href="https://glitchtip.com/support"
      target="_blank"
      rel="noopener"
    >
      <mat-icon>support</mat-icon>
      <span i18n>Get Support</span>
    </a>
  } @else if (paidForGlitchTip() === true) {
    <mat-divider />
    <button
      mat-menu-item
      type="button"
      (click)="openChatwoot()"
    >
      <mat-icon>chat</mat-icon>
      <span i18n>Open Support Chat</span>
    </button>
  } @else if (paidForGlitchTip() === false && billingEnabled() === false) {
    <mat-divider />
    <a
      mat-menu-item
      href="https://glitchtip.com/pricing?plan=self-hosted"
      target="_blank"
      rel="noopener"
    >
      <mat-icon>support</mat-icon>
      <span i18n>Get Priority Support</span>
    </a>
  }
</mat-menu>
