@if ((initialLoadComplete$ | async) && (transactionGroup$ | async) === null) {
  <gt-top-app-bar />
  <section class="l-body l-body--full-width">
    @if (organization$ | async; as organization) {
      <mat-card class="auth-form transaction-group-404">
        <mat-card-content>
          <h1 class="section-header-text">Transaction group not found</h1>
          <p class="body-text">
            This may be because the URL is pointing to a transaction group that
            doesn't exist or was deleted.
          </p>
          <p class="body-text">
            It's also possible that this transaction group was reported to a
            project that you are not able to access.
          </p>
          <a
            mat-flat-button
            color="primary"
            class="transaction-groups-link"
            [routerLink]="['..']"
          >
            View all transaction groups in {{ organization.name }}
          </a>
        </mat-card-content>
      </mat-card>
    }
  </section>
}
@if (transactionGroup$ | async; as group) {
  <gt-top-app-bar>
    <gt-detail-header
      [title]="[group.transaction, null]"
      backLinkText="View all transaction groups"
    />
  </gt-top-app-bar>
  <section class="l-body l-body--full-width">
    <div class="row">
      <aside class="right">
        <mat-card>
          <mat-card-content>
            <dl>
              <div>
                <dt class="caption-text">Average Duration</dt>
                <dd class="body-text">
                  {{ group.avgDuration | humanizeDuration }}
                </dd>
              </div>
              <div>
                <dt class="caption-text">Transaction Count</dt>
                <dd class="body-text">{{ group.transactionCount }}</dd>
              </div>
              <div>
                <dt class="caption-text">Operation</dt>
                <dd class="body-text">{{ group.op }}</dd>
              </div>
              <div>
                @if (group.method) {
                  <dt class="caption-text">Method</dt>
                }
                <dd class="body-text">{{ group.method }}</dd>
              </div>
            </dl>
          </mat-card-content>
        </mat-card>
      </aside>
    </div>
  </section>
}
